body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff;
}

.sprite {
	background: #fff url("t-mobile_sprite.jpg") no-repeat;
}

.logo-magenta {
	margin: 50px 0 0 50px;
	float: left;
	width: 60px;
	height: 30px;
	background-position: 0px 0px;
}

.claim-magenta {
	margin: 50px 0 50px 300px;
	float: left;
	width: 120px;
	height: 30px;
	background-position: -120px 0px;
}

.magenta-bg {
	clear: both;
	position: relative;
	width: 600px;
	height: 80px;
	background-color: #e20074;
}

.logo-white {
	position: absolute;
	top: 25px;
	left: 50px;
	width: 54px;
	height: 28px;
	background-position: -60px 0px;
}

.claim-white {
	float: left;
	position: absolute;
	top: 25px;
	left: 400px;
	width: 126px;
	height: 28px;
	background-position: -240px 0px;
}

.logo-black {
	float: left;
	margin: 50px 0 0 50px;
	width: 60px;
	height: 30px;
	background-position: 0px -30px;
}

.claim-black {
	margin: 50px 0 50px 300px;
	float: left;
	width: 120px;
	height: 30px;
	background-position: -60px -30px;
}
